* {
	box-sizing: border-box;
	margin: 0;
}

header {
	text-align: center;
	color: white;
	padding: 20px;
	background-color: rgb(71, 33, 158);
}

#city-info {
	margin: 10px;
}

.sidebar {
	background-color: rgb(164, 155, 173);
	padding: 10px;
}

.daycard {
	margin: 10px;
}

h3, h5 {
    text-align: center;
}