*  {
    color: blueviolet;
    font-family: Helvetica, Arial, sans-serif;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.center-align {
    align-items: center;
}

header {
    text-align: center;
}

.main {
    margin: 2rem;
}